{% extends "base.html" %}

{% block content %}
<h1>Russell's Albums</h1>

<p><a href="{% url 'add_album' %}">Add New Album</a></p>

<div class="flex flex-wrap">
  {% for album in albums %}
  <img src="{{album.albumcover}}" alt="">
    <a href="{% url 'show_album' pk=album.pk %}">
      <h2>{{ album.title }}</h2>
    </a>


    {% if album.artist %}
    <div class="flex">
      
      <div>{{ album.artist }}</div>
    </div>
    {% endif %}

    {% if album.release_date %}
    <div class="flex">
      
      <div>{{ album.release_date }}</div>
    </div>
    {% endif %}

    <p>
      <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
      <a class="red" href="{% url 'delete_album' pk=album.pk %}">Delete Album</a>
    </p>
  
  {% endfor %}
</div>
{% endblock %}